.single {
background-color: #468CC8;
text-align: center;
margin: 50px auto;
width: 30vw;
padding: 20px 10px;
border-radius: 10px;
}

.single a {
  color: white;
  text-decoration: none;
  margin: 10px;
  margin-bottom: 5px;
}
